In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [2]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0          0
1          0
2          0
3          0
4          0
          ..
437110    11
437111     0
437112     0
437113     0
437114     9
Name: Total Renewals, Length: 437115, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                    0                0
2                    0                0
3                    0                0
4                    0                0
...                ...              ...
437110              11               14
437111               0                2
437112               0                5
437113               0                4
437114               9                3

[437115 rows x 2 columns]

In [3]:
df['dummy_variable'] = 5

In [4]:
x = df['Total Renewals']
df['Total Renewals'] = 5
x

0          0
1          0
2          0
3          0
4          0
          ..
437110    11
437111     0
437112     0
437113     0
437114     9
Name: Total Renewals, Length: 437115, dtype: int64

In [5]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [6]:
# Aufgabe 2.5 Fallstudie: Feature Engineering

In [8]:
pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
437110    2004.0
437111    2004.0
437112    2004.0
437113    2004.0
437114    2004.0
Name: Circulation Active Year, Length: 437115, dtype: float64

In [9]:
pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

0               NaT
1               NaT
2               NaT
3               NaT
4               NaT
            ...
437110   1900-08-01
437111   1900-08-01
437112   1900-08-01
437113   1900-08-01
437114   1900-08-01
Name: Circulation Active Month, Length: 437115, dtype: datetime64[ns]

In [1]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

NameError: name 'df' is not defined